<header>
  <!-- Serch LoGo -->
  <div class="logo">
      <div class="form-group">
          <label for="usr">Thế giới di động:</label>
          <input type="text" class="form-control" placeholder ="Bạn muốn tìm gì..." id="usr">
          <i class="fas fa-search-plus"></i>
      </div>
  </div>
  <div class="icon-link">
      <nav>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a class="mobile" href="#">
          <i class="fas fa-mobile-alt"></i>  
          Điện thoại
        </a>
        <a href="#" class="cardsim">
          Sim số<br>
          Thẻ cào
        </a>
        <a href=# class="cardsim money">Đóng tiền điện,<br>
          nước, trả góp</a>
      </nav>
  </div>
</header>


<router-outlet></router-outlet>
