body {
    font-size: 14px;

    header {
        position: fixed;
        padding: 0 50px;
        width: 100vw;
        height: 55px;
        background-color: #fed700;
        display: flex;
        .logo {
            background-color: black;
            width: 40%;
            height: 100%;
            line-height: 55px;
            .form-group {
                position: relative;
                label {
                    color: yellow;
                    font-size: 1,13rem;
                }
                input {
                    width: 50%;
                    float: right;
                    margin-top: 5px;
                    margin-right: 5px;
                }
                i {
                    position: absolute;
                    right: 5px;
                    top: 17px;
                    font-size: 1.5rem;
                }
            }
        }
        .icon-link {
            width: 60%;
            nav {
                a {
                    padding: 3px 10px;
                    display: table-cell;
                    float: left;
                    height: 55px;
                    color: #000;
                    background: #fed700;
                    font-size: 11px;
                    text-align: center;
                    text-transform: uppercase;
                    position: relative;
                    i {
                        font-size: 2.5rem;
                        margin: 2px auto 3px;
                        background-position: -190px 0;
                        width: 16px;
                        height: 25px;
                        display: block;
                    }
                    
                }
                .cardsim {
                    text-transform: none;
                    font-size: 13px;
                    line-height: 55px;
                    vertical-align: middle;
                    line-height: 19px;
                    border-left: 1px solid rgba(0,0,0,.1);
                    padding-top: 9px;
                    &.money {
                        width: 120px;
                    }
                }

            }
        }
    }
}

